[2013-05-09 22:21] PaulSnow opened #1 "Need Better Reporting."
I think your log should be written to a file (someone can always tail the file if they want to watch the log).  Then every 100 nodes should print the node count found.  (or every 1000, whatever).

I find having to use an SQL editor to look at the nodes found kinda annoying.

[2013-05-10 05:49] #1 closed, assigned to ayeowch

[2013-12-09 18:43] ghost opened #2 "Client version number"
Would it also be possible to collect client version number stats? I think that could be very useful metric to know how up to date the network is.

[2014-01-24 00:15] ghost opened #3 "Is the frontend code to generate the webpage available somewhere?"
Or can you make it available?

Thanks.

[2014-01-28 13:05] #3 closed, assigned to nobody

[2014-02-04 13:18] tuankiet65 opened #4 "What to change if I want to find altcoin nodes?"
I have been working for a day figure out what to change if I want bitnodes to work with altcoins (coin based on Bitcoin source code). Can you specify all the changes needed?

[2014-02-04 16:02] ghost opened #5 "Historical graph"
The current service is great to see day by day what the current network looks like, but it's not possible to visualise how things change over time. It would be great if you could plot these on a graph by day then we could really see how things are changing.

[2014-02-06 09:49] #4 closed, assigned to nobody

[2014-02-28 20:16] dajohi opened #6 "protocol.py fails against btcd"
btcd (https://github.com/conformal/btcd) is a full node bitcoin implementation written in Go.  btcd does two separate writes, one for the header and the other for the payload:

<pre>
        // Write header.
        n, err := w.Write(hw.Bytes())
        if err != nil {
                totalBytes += n
                return totalBytes, err
        }
        totalBytes += n

        // Write payload

[2014-02-28 22:54] #2 closed, assigned to ayeowch

[2014-03-01 01:03] #6 closed, assigned to ayeowch

[2014-03-23 12:57] #5 closed, assigned to nobody

[2014-04-05 11:49] ghost opened #7 "Percentage data missing from 30 day historical graphs"
Could you add some way, even if it's just by mouse over, to know the percentage of user-agents?

[2014-04-10 11:11] #7 closed, assigned to nobody

[2014-08-04 18:26] leafcutterant opened #8 "Node color visibility"
Both the map (land area) and the nodes have a grayish-bluish color. This works and looks well when you look at the whole map (more nodes near each other, darker colors), but as you zoom in, nodes lessen and one individual node barely stands out against the background.

I think it would be better to be able to easily spot a node, thus suggest giving nodes a different hue and/or making them darker.

[2014-08-05 02:54] #8 closed, assigned to ayeowch

[2015-01-20 11:40] runeksvendsen opened #10 "Nodes with more features than NODE_NETWORK get a "Services index" of 0.0 in Leaderboard"
Just thought I would report this since I'm not sure this is intended.

My node is a NODE_NETWORK node as well as NODE_GETUTXOS node (`services` field in `version` message equals 3)

This is my node: https://getaddr.bitnodes.io/nodes/leaderboard/?q=212.60.121.120

As you can see the SI value is "-". Should it not be 1.0, as the node *is* a NODE_NETWORK node, although it's also a NODE_GETUTXOS node?

[2015-01-20 12:39] ayeowch commented on #10
Thanks for reporting this! At the moment, I am enumerating only the services declared (nServices flags) in the reference client. It looks like NODE_GETUTXOS is currently declared only in bitcoinj. Did you have to modify your reference client in anyway to get it to declare its services as NODE_NETWORK + NODE_GETUTXOS?

[2015-01-20 12:49] ayeowch commented on #10
I am assuming you are running Bitcoin XT?

[2015-01-20 12:52] runeksvendsen commented on #10
Hi Addy

Yes, I'm running Bitcoin XT.

[2015-01-20 12:55] ayeowch commented on #10
Cool, that make sense now. I will update the site to support enumeration of NODE_GETUTXOS as well tomorrow.

[2015-01-20 12:56] runeksvendsen commented on #10
Great! Thanks a lot.

[2015-01-21 01:51] ayeowch commented on #10
No worries! I am glad to have someone brought this up. Nodes with services=3 (NODE_NETWORK, NODE_GETUTXOS) are listed properly now: https://getaddr.bitnodes.io/nodes/?q=NODE_GETUTXOS. The next peer index update will reflect this change accordingly.

[2015-01-21 11:11] ayeowch commented on #10
Fixed: https://getaddr.bitnodes.io/nodes/leaderboard/?q=212.60.121.120

[2015-01-21 11:11] #10 closed

[2015-01-25 21:57] orweinberger opened #11 "nMaxConnections issues"
I was wondering if you have any solution to the edge case where a full node maxed out his connections (`nMaxConnections` usually at 125). Are you able to validate it in any other way, or do you simply ignore that edge case?

[2015-01-25 22:25] ayeowch commented on #11
Node that has reached its max. connections is treated as unreachable as the response the crawler may get from the node usually has no distinction from e.g. firewall rule blocking the incoming connection.

[2015-01-26 03:27] ayeowch commented on #11
For the validation done in https://getaddr.bitnodes.io/#join-the-network, it makes sense to report maxed out node as unreachable. In terms of estimating the size of the network, the crawler takes a snapshot of the network about every 5 minutes. If your node is not already connected to the crawler and is currently maxed out, it will be considered as unreachable. If your node is already connected to

[2015-01-26 03:27] #11 closed

[2015-02-01 01:09] 21E14 opened #12 "/getaddr.bitnodes.io:0.1/ peers"
Does it make sense for https://getaddr.bitnodes.io/nodes/ to filer out its own USER_AGENT (/getaddr.bitnodes.io:0.1/)? 'Reachable nodes' have gone undefined, but /getaddr.bitnodes.io:0.1/ is certainly a 'peer' in the reference client sense.

[2015-02-01 02:52] ayeowch commented on #12
The crawler is designed to only crawl the network for reachable nodes. It does not listen to incoming connections so it is not considered as a reachable node.

[2015-02-01 02:52] #12 closed

[2015-02-01 06:23] 21E14 commented on #12
Might be something to look into, as a perspective is lost. I am seeing up to 25% of all inbound peers present the /getaddr.bitnodes.io:0.1/ 'user agent' at times.

[2015-02-01 07:48] ayeowch commented on #12
I know there are many 'bitnodes' from Amazon EC2. I don't know who are operating these and I consider them to be extremely abusive towards the network as they are taking up the connection slots from the reachable nodes hence the message in https://github.com/ayeowch/bitnodes#setup.

I am running only 1 instance of the actual crawler from 148.251.238.178; you won't actually see it in your getpeerin

[2015-02-01 07:56] ayeowch commented on #12
The Amazon EC2 nodes were first seen earlier in December: https://github.com/bitcoin/bitcoin/pull/5545#issuecomment-68173968. They even resulted in some of the devs to think it was me that is operating these nodes since I run getaddr.bitnodes.io and wrote this crawler.

[2015-03-03 07:05] Geremia opened #13 ""Check Node" reports node is up, but "Node Status" says it isn't."
Clicking the "Check Node" button on the bottom of the page reports that the node associated with this IP address is up; however, at the top of the page, "Node Status" says it isn't.

[2015-03-03 09:07] ayeowch commented on #13
"Check Node" connects directly to your node since your IP is known. The "Node Status" page uses crawl data from the crawler which starts from a list of known nodes. It is possible your node is not well connected at the moment. Check how many peers you connected to based on the getpeerinfo output.

[2015-03-03 17:27] Geremia commented on #13
Yes, I have had very few incoming connections recently due to a router issue that brought the node down a few days ago. You're probably right that my node isn't well connected now.

[2015-03-04 18:30] Geremia commented on #13
Well, it's been days now that the node has been up without interruption, yet the page still thinks it's down…

[2015-03-05 09:05] ayeowch commented on #13
How many connections do you have now?

[2015-03-06 03:06] Geremia commented on #13
It has about 3-4 inbound connections now, and I've had 732 MB sent.

[2015-03-06 03:12] ayeowch commented on #13
That's an indication of the node not being well connected. Usually your node will be crawled within minutes once it has more than 8 peers. Another reason the crawler is not able to find you is due to change of IP if you are using dynamically allocated IP by your ISP.

[2015-03-07 07:07] Geremia commented on #13
Do the node have to accept UDP packets? Currently, I'm only accepting TCP packets.

[2015-03-07 07:54] ayeowch commented on #13
No. Only TCP is required.

[2015-03-07 16:59] Geremia commented on #13
I'm running the node now on a different network (on even supporting IPv6), and I get the same issue.

I'm thinking it may have something to do with my running bitcoin-qt with a Tor proxy, although I'm explicitly supplying the "--listen" flag to bitcoin-qt…

[2015-03-07 17:09] Geremia commented on #13
Perhaps the network just doesn't have any need for another node in my area?

[2015-03-10 05:14] ayeowch commented on #13
As long as the node has --listen and it is reachable by other peers, it should be on Bitnodes after being online for few minutes. Are you able to run your client without going Tor proxy to see if that makes it appear as UP on Bitnodes?

[2015-03-11 00:58] Geremia commented on #13
It has appeared as up on Bitnodes even through Tor, when a couple IPv6 clients were connected to the node. Now, however, Bitnodes says it's down. Thus, going proxy through Tor or not doesn't seem to change things.

[2015-03-11 00:58] Geremia commented on #13
It has appeared as up on Bitnodes even through Tor, when a couple IPv6 clients were connected to the node. Now, however, Bitnodes says it's down. Thus, going proxy through Tor or not doesn't seem to change things.

[2015-03-11 00:59] Geremia commented on #13
You could try adding the node yourself and see if it works:
IPv4: 68.3.244.232:8333
IPv6: [2001:470:1f19:7e:290:f5ff:febe:832d]:8333

[2015-03-11 01:05] Geremia commented on #13
It seems the Bitcoin network just isn't discovering my node (or perhaps it doesn't need it in my area?).

[2015-03-11 02:31] ayeowch commented on #13
Whenever Bitnodes says DOWN, can you help check how many connections (inbound + outbound) do you have?

Also, it looks like you are behind dynamically allocated IP. Is that correct? If this is the case, it is possible your node changes its IP before it is able to establish itself among peers in the network.

[2015-03-11 02:40] ayeowch commented on #13
The issue here may be related to https://github.com/bitcoin/bitcoin/issues/48

[2015-03-11 09:56] ayeowch commented on #13
Fixed with https://github.com/ayeowch/bitnodes/commit/802f3b678db86fa914600191239b9e735549ad47

[2015-03-11 09:57] #13 closed

[2015-03-11 16:40] Geremia commented on #13
Well, today I have 8 incoming and 8 outgoing nodes! I think it just took my node a few days of using the same IPv6 and IPv4 addresses before the network considered it stable.

[2015-05-05 11:00] btcdrak opened #14 "Longer historical view"
Now that the site has been collecting data for a long time, do you think you could add more views, like `180d` and `1y`, maybe even `All`?

[2015-05-13 10:46] ayeowch commented on #14
Thanks for the request. I am planning to make available 1-year chart by the end of this month.

[2015-06-08 11:25] ayeowch commented on #14
1-year charts are available now from https://getaddr.bitnodes.io/dashboard/?days=365

[2015-06-08 11:25] #14 closed

[2015-07-29 15:47] jaltek opened #15 "Node activation via API"
Hi,

is there a way to _activate_ a node via the API?
Or what are the alternatives to use the Bitnodes page?

The API states

Set Bitcoin address for an activated node. Node must be activated separately, **i.e.** from ```https://getaddr.bitnodes.io/nodes/<ADDRESS>-<PORT>/```, before it can be updated using this endpoint.

[2015-08-02 08:43] ayeowch commented on #15
The activation must be done on the website by browsing through the list of nodes from https://getaddr.bitnodes.io/nodes/.

[2015-08-09 00:03] #15 closed

[2015-12-10 20:56] scriptzteam opened #16 "Error when starting scan"
got it ---->  pip install -r requirements.txt :D

-----
cat crawl.master.out

Traceback (most recent call last):
  File "crawl.py", line 31, in <module>
    from gevent import monkey
ImportError: No module named gevent

is there any install manual or so ? required libs?

[2015-12-10 21:46] scriptzteam commented on #16
Okay new error ever redis installed:

Writing output to crawl.log, press CTRL+C to terminate..
Traceback (most recent call last):
  File "crawl.py", line 459, in <module>
    sys.exit(main(sys.argv))
  File "crawl.py", line 435, in main
    REDIS_CONN.set('crawl:master:state', "starting")
  File "/usr/local/lib/python2.7/dist-packages/redis/client.py", line 1055, in set
    return self.execute_com

[2015-12-14 04:04] ayeowch commented on #16
The setup is documented in https://github.com/ayeowch/bitnodes/wiki/Provisioning-Bitcoin-Network-Crawler.

[2015-12-14 12:49] dimitrist74 opened #17 "Better reporting on Dynamic IPs"
Some of us run nodes on Dynamic IPs, making it difficult to spot our nodes or even participate in the incentive program. Some suggestions to solve this:

1. We (nodes) register our Dynamic DNS names (e.g. mynode.now-ip.org) with our service, you periodically resolve all those names to IPs and replace those IPs with names in your reporting.
2. Or, you create a new API call we (nodes) call once a da

[2015-12-15 12:29] #16 closed

[2015-12-19 10:58] ayeowch commented on #17
The Bitnodes Incentive Program does not support dynamic DNS names as they cannot be verified reliably or uniquely.

However, it is possible to allow hostname instead of IP address for the node status page, e.g. https://bitnodes.21.co/nodes/208.118.235.153-8333/. I will keep this ticket open to look into adding this feature.

[2016-01-30 10:12] ayeowch commented on #17
@dimitrist74 This is supported now, e.g. https://bitnodes.21.co/nodes/synat.mimuw.edu.pl-8333/.

To activate node with hostname, enter the hostname in https://bitnodes.21.co/#join-the-network and click **CHECK NOW** then click on the link to activate the node. You can then subscribe to alerts by entering an email in the node status page.

[2016-01-30 10:12] #17 closed

[2016-01-30 18:35] dimitrist74 commented on #17
@ayeowch thanks, I have tested it by registering https://bitnodes.21.co/nodes/node1.weacceptbitcoin.gr-8333/ and it works well.

But in https://bitnodes.21.co/nodes/?q=Greece I see the node (178.128.119.238) listed against the ISP's dynamic name (178.128.119.238.dsl.dyn.forthnet.gr) and not the one I registered (node1.weacceptbitcoin.gr). Is it possible to print the latter instead of the former in

[2016-01-31 00:24] ayeowch commented on #17
@dimitrist74 User-entered domain, e.g. A record now takes precedence over PTR record for listed nodes, so this https://bitnodes.21.co/nodes/?q=Greece should be showing your node with its A record as well.

[2016-01-31 11:38] dimitrist74 commented on #17
It works perfectly, thanks!

[2016-02-18 17:51] mlapaglia opened #18 "Add Leaderboard query to API"
Right now the leaderboard API call brings back a list. Add functionality to search for a specific IP to get the leaderboard position that IP has. Another approach would be adding the number to the existing API call to get node information.

[2016-02-24 14:10] ayeowch commented on #18
This is available now from https://bitnodes.21.co/api/#node-ranking

[2016-02-24 14:10] #18 closed

[2016-08-04 15:49] ptschip opened #19 "crawler not issuing disconnects"
Hello, I'm a developer on the Bitcoin Unlimited project.  We've been looking at various types of connection slot attack mitigation and I noticed that the behavior of the bitnodes crawlers seems to be to NOT issue a disconnect when it's done making it's handshake and gathering whatever into it needs.  This causes a slot to be used up unnecessarily but more importantly our slot mitigation software f

[2016-08-05 01:20] ayeowch commented on #19
@ptschip Bitnodes uses up to 2 connection slots:

1) [crawl.py](https://github.com/ayeowch/bitnodes/blob/master/crawl.py) - Connects to your node and disconnects after completing a handshake. This repeats after the full network snapshot is taken which happens approximately every 5 minutes given the current network size.

2) [ping.py](https://github.com/ayeowch/bitnodes/blob/master/ping.py) - Maint

[2016-08-05 14:35] ptschip commented on #19
ok, yeah i see it actually disconnecting after about 30 seconds...what was happening is that when we have no connection slots available the least useful connection gets evicted...so during that 30 second or so interval your connection gets evicted.  I do wonder though why it's taking 30 seconds...i see the ping getting done but the connection still open for a while..are you sure you'r disconnectin

[2016-08-05 17:20] ptschip commented on #19
Taking a look through your code a bit, I'm wondering if the longer than expected connection times are due to the KeepAlive that you use and maybe you're not issuing an explicit disconnect and just allowing the connections to time out?  What I see is that the ping, at least the one we receive from you, usually takes about 1 second but then it take 15 to 30 seconds for the connection to drop.

[2016-08-05 22:33] ayeowch commented on #19
@ptschip Connection from ping.py will drop only when there is network issue. It is not expected to disconnect from your node, i.e. it takes up 1 connection slot indefinitely.

[2016-08-13 13:23] #19 closed

[2016-10-18 00:49] rebroad opened #20 "Leaderboard contains non-functional nodes"
The leaderboard is including nodes that have not been online for almost a month.

[2016-10-18 00:58] ayeowch commented on #20
@rebroad Thanks for reporting this. Can you point me to one of these nodes?

[2016-10-20 05:47] rebroad commented on #20
https://bitnodes.21.co/nodes/leaderboard/?q=satushi will show some of those nodes. This output also shows another issue, which is that some nodes show as simply ":8333".

[2016-10-20 06:29] ayeowch commented on #20
https://bitnodes.21.co/nodes/223.206.70.202-8333/ was indeed down for a while. Bitnodes was configured to delete stale nodes after much later. I have just updated it to delete stale nodes older than 7 days.

[2016-10-20 06:34] rebroad commented on #20
The first link above is different in that the node that was down since 27th September is no longer showed. However, there are two nodes showing that have DU/DL/WU/WL of zero. Perhaps they will disappear within the next 24 hours though.

[2016-10-20 07:17] ayeowch commented on #20
The node with ":8333" had custom hostname set but it is no longer resolvable and causes the node to have empty IP address set in the DB; I have removed 2 such nodes from the DB.

[2016-10-20 07:17] #20 closed

[2016-10-21 10:55] rebroad opened #21 "WL&WU showing as zero for some nodes"
https://bitnodes.21.co/nodes/leaderboard/?q=satushi

Shows one of these nodes as having WU and WL as zero, even though it's been up for over 24 hours. This seems incorrect...

[2016-10-21 11:15] ayeowch commented on #21
The weekly latency index requires at least (168 ticks - 10%), i.e. ~151 ticks from the node before it will be calculated. The weekly latency chart is a 7-day series with 1 tick = 1 hour.

Similarly, for daily latency index, (96 ticks - 10%), i.e. 86 ticks is needed from the node before it will be calculated. The daily latency chart is a 1-day series with 1 tick = 15 minutes.

[2016-10-23 08:03] rebroad opened #22 "question: testnet leaderboard"
I notice there are bitnode probes running on testnet - is there a website to see the results from these probes?

[2016-10-23 08:59] ayeowch commented on #22
The crawler (crawl.py) is currently running in testnet3 to only take snapshot of the network for seeding purpose. ping.py and other part of the project required to gather data for website such as https://bitnodes.21.co is not running in testnet3.

[2016-10-23 08:59] #22 closed

[2016-10-24 04:55] rebroad commented on #22
Thanks.. hope it was ok to raise an issue for such a question.

[2016-10-26 04:43] rebroad commented on #21
@ayeowch I'm pretty sure there is a bug here. One of my nodes (based on IP address) has been up for weeks (virginbitcoin.ddns.net), yet is getting 0.0 for WL&WU.

[2016-10-26 07:35] ayeowch commented on #21
@rebroad It looks like virginbitcoin.ddns.net node status was activated on the website about 6 days ago. Let's give it another day or or two for the WL & WU to show up.

[2016-10-29 22:34] ayeowch commented on #21
@rebroad I'm closing this as WL & WU for virginbitcoin.ddns.net are populated now: https://bitnodes.21.co/nodes/leaderboard/?q=satushi

[2016-10-29 22:34] #21 closed

[2016-11-02 06:21] rebroad opened #23 "THIN service bit not displayed"
When viewing a node's services, only NODE_NETWORK, NODE_BLOOM and NODE_WITNESS seem to be displayed. NODE_XTHIN currently is not.

Also, it would be great if it was possible to search for nodes based on service bit.... :)

[2016-11-02 06:46] ayeowch commented on #23
@rebroad I'll look into adding NODE_XTHIN. Thanks for mentioning it! Search currently allows e.g. https://bitnodes.21.co/nodes/?q=NODE_WITNESS

[2016-11-02 06:51] ayeowch commented on #23
@rebroad Just added NODE_XTHIN display. It doesn't look like there is a reachable node with this bit set though?

[2016-11-02 08:24] ayeowch commented on #23
@rebroad NODE_XTHIN nodes are shown now at bitnodes.21.co/nodes/?q=NODE_XTHIN

[2016-11-02 08:25] #23 closed

[2017-01-01 02:57] rebroad opened #24 "N showing 0"
https://bitnodes.21.co/nodes/leaderboard/?q=satushi

My node for the last few months has been getting an N value of around 0.43 (>0.51) yesterday, resulting in my node getting to position 1 in the leadboard. Today, the N value is zero. Has something changed at leaderboards or is my node suddenly (without reason I am fathom) stopped sending addresses? (Seems very unlikely that it can still be up ye

[2017-01-02 01:28] ayeowch commented on #24
Your nodes should have NI set now. It was set to zero by error when a new fix for NI calculation was being deployed.

[2017-01-02 01:28] #24 closed

[2017-01-02 01:41] rebroad commented on #24
@ayeowch What changed? My node's N was 0.51, and now it's 0.053. Why is it capped at the 99th percentile now?

[2017-01-02 01:53] ayeowch commented on #24
I have updated the doc in https://bitnodes.21.co/nodes/leaderboard/#peer-index:
[code]

Threshold of 6 standard deviation of the NI values is used to handle very extreme NI values that would greatly inflate the overall index even with very low values for other indexes. Majority of the nodes are at most 2 standard deviation. Note that NI values at 3 to < 6 standard deviation are tolerated and not c

[2017-01-02 01:56] rebroad commented on #24
@ayeowch Ok, so I notice you have changed the algorithm and introduced winsorizing, which is supposed to be used to avoid a value being influenced by outliers. However, 1) there was no value being influenced by an outlier, and 2) the were no outliers (nothing caused my experimental error or variability in measurement), therefore it seems highly misleading to introduce this capping. Can you explain

[2017-01-02 02:15] ayeowch commented on #24
Only the NI needs capping using the described method at the moment. Ideally, there should be fairness across all the indexes used to calculate the overall PIX, i.e. the capping of NI should not affect your ranking if your other indexes are in the lead among the nodes. I am open to alternative method to better calculate NI or even adding new indexes.

Thanks for mentioning "winsorizing", I wasn't a

[2017-01-02 03:48] rebroad commented on #24
@ayeowch I am in favor of fairness, but from my perspective, the capping introduces unfairness - yes, my node faired badly in terms of ASN, but it made up for it in terms of addresses, so nevertheless deserved the number 1 position. I think the algorithm was better without the capping, and this way can encourage other node maintainers to improve their address management algorithm (as I did).

[2017-04-10 10:11] micheal-swiggs opened #25 "Litecoin Support"
How hard would it be to run a Litecoin version of this software?

[2017-04-10 10:26] ayeowch commented on #25
@micheal-swiggs It should be possible but won't be addressed here. Feel free to fork this repo to make the necessary changes for separate network.

[2017-04-10 10:27] #25 closed

[2017-04-11 13:56] gandrewstone opened #26 "BU nodes not correctly reported on the "User Agents" tab"
If you look at the user agents tab its showing "/BitcoinUnlimited:1.0.1.3/" as 359 nodes.  Now click on that string so that it is run as a search in the search box.  I see 515 nodes.

https://www.supload.com/SkMwxw9ag

[2017-04-11 23:54] ayeowch commented on #26
Thanks for the report!

The counts for the user agents in the table are fixed now by counting major UA in the user agent string.

However, the table may still show BitcoinUnlimited:1.0.1.3 as 382 (counted using major UA) but when clicked, the nodes list may show 527 (counted using anything that matches the search string) nodes. This mismatch is an issue only for this particular search string as th

[2017-04-11 23:55] #26 closed

[2017-04-24 21:32] gandrewstone commented on #26
BU allows a user to add comments his UA, so I think that a more accurate reporting would count any UA string with "BitcoinUnlimited" in it.

[2017-05-30 15:10] stevenroose commented on #11
@ayeowch it's not possible to be permanently connected to the crawler, right? The crawler connects and disconnects immediately after.

Also, this is the log that I get when bitnodes connects and I'm maxed out, shouldn't it be able to detect that the node is still alive?
[code]

[2017-05-30 20:06] ayeowch commented on #11
@stevenroose crawl.py (source address 136.243.139.96) is used to exhaustively (DFS) look for all currently reachable nodes starting from a list of seed nodes. Each of these nodes is sent to ping.py (source address 136.243.139.120) for it to connect to if it haven't already and maintain the connection to gather network and tx/block inv latency data with periodic ping within the established connecti

[2017-09-14 16:10] rawmaterials opened #28 "will i get new transactions too ?"
or just nodes list ?

i liked

https://bitnodes.21.co/dashboard/transactions/

[2017-09-14 19:34] ayeowch commented on #28
See https://bitnodes.21.co/dashboard/transactions/ and https://bitnodes.21.co/api/#data-propagation

[2017-09-14 19:34] #28 closed

[2017-11-06 19:54] mocmocamoc opened #29 "getaddr immediately after handshake returns only the called node"
From my experiments with Satoshi:0.15.0.1, calling getaddr() immediately after handshake() always returns only the single node you are connected to. This is because the handshake causes the remote node to send an "addr" message containing just information about itself, which is then retrieved by getaddr() instead of the actual response to the "getaddr" message that it sends. To demonstrate this, c

[2017-11-07 01:02] mocmocamoc commented on #29
I think the real problem is that Connection.getaddr() only waits one second between sending "getaddr" and checking for "addr" responses. In reality it seems to take longer (sometimes up to a minute) for the full response to "getaddr" to come back. I'm not sure if it's viable for the crawler to wait that long for the response.

[2017-11-23 22:23] matthewleon opened #30 "start.sh refers to nonexistent conf files"
The culprit appears to be a recent change to `start.sh`: https://github.com/ayeowch/bitnodes/commit/5e7202910d59ab910dd2291a8def9be0d3604827#diff-d0b2ef35f4d7cb0284dd5cf566b62f51

For example, `crawl.f9beb4d9.conf` does not exist.

Perhaps the relevant `conf` files just need to be `git add`ed?

[2017-12-10 01:27] ayeowch commented on #30
The crawl.MAGIC_NUMBER.conf file must be created manually from the sample crawl.conf.default.

[2017-12-10 01:27] #30 closed

[2017-12-18 10:11] varun-v-deshpande opened #31 "Installation and Usage guide"
Hi,

I am new to bitnodes. I want to map bitcoin topology. I mean from the API, I can just get the total nodes. I want to know how they are connected to each other. I mean I want to reproduce the connection graph of bitcoin.

Could anyone can guide me on how can I do that ? Also, How to install bitnodes to work on it ?

[2017-12-18 10:57] ayeowch commented on #31
Currently, it is not possible to map the connection between nodes with Bitnodes.
https://cs.umd.edu/projects/coinscope/coinscope.pdf may be of interest to you.

[2017-12-18 10:57] #31 closed

[2018-01-02 13:40] cculianu opened #32 "Newer Bitcoin Cash nodes use a different Network magic"
Up until today the crawler worked for the Bitcoin Cash network so that people could see Bitcoin Cash as well as Bitcoin nodes.

Bitcoin Cash's latest node software has transitioned over to using a different message magic number now, so as to be totally separate from Satoshi nodes.

As of today all new Bitcoin ABC 0.16.2 nodes will no longer be seen by your crawler.

Are there plans to fix this and

[2018-02-04 09:18] ayeowch commented on #29
Fixed via https://github.com/ayeowch/bitnodes/commit/1177a474a347e5e50ac09661c1f0b219e8c9ed27

[2018-02-04 09:18] #29 closed

[2018-02-10 17:41] paranoid945 commented on #30
How to create this file manually? I didn't find it in https://github.com/ayeowch/bitnodes/wiki/Provisioning-Bitcoin-Network-Crawler

[2018-02-10 22:51] ayeowch commented on #30
See the sample conf files in https://github.com/ayeowch/bitnodes/tree/master/conf

[2018-02-17 20:51] AngelTs opened #33 "Is it possible to make "Check node" button in php?"
like in main page https://bitnodes.earn.com/ below Join the network?

[2018-02-17 22:32] #33 closed

[2018-02-19 04:45] Klakurka commented on #32
Yeah, could you do this? We'd definitely merge it into ours for public display.

[2018-02-19 05:09] ayeowch commented on #32
The crawler supports this since https://github.com/ayeowch/bitnodes/commit/5e7202910d59ab910dd2291a8def9be0d3604827

[2018-02-19 05:09] #32 closed

[2018-02-19 23:14] bymaximus opened #34 "Question join network"
Hi, can you tell me how the check node test at website test the node server connection? It uses the protocol.py code?

[2018-03-05 16:28] s-tikhomirov opened #35 "User guide"
It would be nice to include at least a short guide on how to use this tool with some examples. Assume I want to get the latest snapshot of Bitcoin peers: which file do I run? Do I have to manually configure anything? Where do I expect to get the results? What do I do if I want to get the same stats for another network, say, the Bitcoin testnet?

Sure, one can figure out the answers to these questi

[2018-03-07 06:48] #35 closed

[2018-03-07 13:12] s-tikhomirov commented on #35
@ayeowch why close? Do you think such guide will not be useful? That is not to say I expect you to implement this, but an open issue might encourage members of the community (myself included) to contribute.

[2018-03-07 17:27] rromanchuk commented on #35
@s-tikhomirov i will work on a guide, but it's way beyond the scope of the software itself.

[2018-04-13 00:07] garceri commented on #32
The crawler on yoursite bitnodes.earn.com doesn't support ABC nodes >0.16.1. Take a look at the sheea number of nodes for each version. There are 600+ 0.16.1 nodes and just 2 running 0.16.2 and 0 running 0.17. Please Fix ASAP.

[2018-04-13 00:38] ayeowch commented on #32
@garceri the crawler supports and is currently crawling ABC nodes >0.16.1 but they are not currently listed/supported on the website.

[2018-04-27 21:54] gustavonalle opened #36 "PIX calculation for SI is wrong for all nodes >= 0.16.0"
This can be easily seen in the leaderboard:

https://bitnodes.earn.com/nodes/leaderboard/?q=0.16.0

All of them have Si=0.5

From version 0.16.0 onwards, bitcoin started advertising the NODE_NETWORK_LIMITED bit (1 << 10) that for a node wilth all services, becomes 1037 (example https://bitnodes.earn.com/nodes/46.32.97.82-8333/).

You should consider 1037 as Si = 1

[2018-04-29 08:45] gustavonalle commented on #36
Why a node that contains all bits is given si = 0.5? All nodes that are /Satoshi:0.16.0/ are currently being penalized: https://bitnodes.earn.com/nodes/leaderboard/?q=%2FSatoshi%3A0.16.0%2F

A node that contains both NODE_NETWORK and NODE_NETWORK_LIMITED is actually capable of serving all blocks

[2018-05-04 03:14] ayeowch commented on #36
As per the doc, `Consensus services is ranked 1 followed by the next most common services`

[2018-05-14 17:51] gustavonalle opened #37 "Bi always zero"
According to the leaderboard ranking rules, Bi is
[code]

But for my node this value is always zero. Could you clarify how is it calculated and how can I troubleshoot why is it always zero?

Thanks!

[2018-05-15 06:05] ayeowch commented on #37
@gustavonalle What is your node's IP address?

[2018-05-16 07:03] #37 closed

[2018-06-25 09:38] user5111 opened #38 "no support for Bitcoin ABC 0.17.1？"
i use ’https://bitnodes.earn.com/api/v1/snapshots/latest/‘ to download the node's informations for analysis
. but i can'nt find the node with USER AGENTS: Bitcoin ABC 0.17.1

[2018-06-25 10:18] ayeowch commented on #38
@user5111 the crawler supports and is currently crawling ABC nodes >0.16.1 but they are not currently listed/supported on the website except via the seeder described in https://bitnodes.earn.com/api/#dns-seeder.

[2018-06-25 10:18] #38 closed

[2018-07-19 12:57] Kulgar opened #39 "[Error] Getting invalid TCPdump header when running pcap"
Hello,

I'm getting this error while running the pcap python process:

[code]

Did you ever encounter that error? And do you have any clues on how to solve it?

Thanks :)

[2018-07-19 13:59] ayeowch commented on #39
@Kulgar Can you upload the .pcap file that causes the error above?

[2018-07-19 14:04] Kulgar commented on #39
Sure thing :)

[1530680517.eth0.pcap.txt](https://github.com/ayeowch/bitnodes/files/2210224/1530680517.eth0.pcap.txt)

I had to rename it (added txt extension) because Github isn't supporting "pcap" extension for uploads.

While searching the web about this error I found this discussion: https://stackoverflow.com/questions/23523524/dpkt-invalid-tcpdump-header-error

I think that is what happens he

[2018-07-20 01:31] ayeowch commented on #39
How was 1530680517.eth0.pcap.txt generated? It does not look like pcap file.

[2018-07-20 01:31] #39 closed

[2018-07-20 08:08] PaulGregor opened #40 ""Check Node" says 'Enter a valid IP address.'"
Hello. I'm trying to check if my node is running, but when I submit my ip address, system says, it not valid. Its really strange, cause I have static and reachable ip 194.44.53.70.

[2018-07-20 08:28] ayeowch commented on #40
This is fixed now.

[2018-07-20 08:28] #40 closed

[2018-07-20 08:28] Kulgar commented on #39
Well I used the commands from the wiki:

[code]

How can you tell that it is not a pcap file?
And why would these commands generate a none pcap file?

[2018-07-20 08:33] ayeowch commented on #39
@Kulgar What OS are you running the command on?

[2018-07-20 08:46] Kulgar commented on #39
Ubuntu 18.04 Bionic

[2018-07-20 09:34] PaulGregor commented on #40
Thanks, now I can see my node ^_^

[2018-07-20 13:41] Kulgar commented on #39
Yeah I have the same version.

That's strange, I was trying to reproduce the bug by restarting all the processes... But it seems to work properly now.

Well... I hope I did not bother you too much.
If it happens again I'll send you the faulty pcap file by mail.

Thanks for your patience and kindness

[2018-09-03 22:51] ayeowch commented on #40
@tnull Should be good now.

[2018-09-29 11:52] amplifysk commented on #40
I'm getting the same error on my ip address 192.168.0.121 Please help me also

[2018-10-08 07:15] ratatosk9 commented on #40
I have the same problem with my node. I have +20 peers connected to it but it won't show up on bitnode.
IP: 193.150.223.150.

[2018-10-08 08:40] ayeowch commented on #40
@ratatosk9 Your IP should be reachable now from Bitnodes. It was in one of the excluded subnets.

[2018-10-08 08:49] ratatosk9 commented on #40
@ayeowch Thank you! Have great week!

[2018-10-16 07:11] photis opened #41 "Different PIX values (hence different ranking) in leaderboard depending on search term"
Easily reproducible:
1) enter search term "Satoshi", save ranking of first 50 entries
2) clear search term, compare with first 50 entries saved before
Even for the same no. 1 entry (212.9.185.194:8333 atm), the PIX values are different (not the ranking in this case).

[2018-11-10 16:40] olgierdsh commented on #40
hello, pls check 150.129.237.71 - I show 8 active connections.

[2018-11-28 21:38] mysticaltech opened #42 "Version number causing installation problem on CentOS 7"
Hello, so I'm trying to install on CentOS 7 directly from:

`curl https://bitnodes.earn.com/install-full-node.sh | sh`

I'm getting the following error (last line):

[code]

When I ls bitcoin-core I get:

[code]

You see the problem? The version number somehow is missing a 'decimal' if we could call it that.

Going to try to hack the script manually for my own install case, but would be cool to fi

[2018-11-28 21:50] mysticaltech commented on #42
For other like me, I was able to move on with the install doing a simple mv and repeating the install:
`mv bitcoin-core/bitcoin-0.17.0 bitcoin-core/bitcoin-0.17.0.1`

[2018-11-28 22:30] ayeowch commented on #42
Good catch. The script is fixed now.

[2018-11-28 22:30] #42 closed

[2018-12-07 08:12] cactuska commented on #40
Hi, I have the same issue with ip 3.16.10.89

[2018-12-24 19:13] peatrick commented on #40
Have been experiencing the same/similar issue since attempting to upgrade my Bitcoin Core full node from v0.17.0 to **Bitcoin Core RPC client version v0.17.0.1**

[code]

[code]

[2019-12-27 06:11] taylorjdawson opened #44 "Might need to update geolite2 database access"
It looks like there will be changes to how geo data is accessed. This could possibly affect bitnodes implementation. Please see [this article](https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/) for more information.

[2019-12-27 07:21] ayeowch commented on #44
@taylorjdawson Thanks for the report! Fixed in https://github.com/ayeowch/bitnodes/commit/82cbd43cf20d10bf98d60980118a21f43a6765ad

[2019-12-27 07:21] #44 closed

[2020-08-08 19:27] edelfinato opened #45 "invalid ip address"
Hello,

I try to check this node but I receive invalid IP address 20.188.42.254.
Is it correct?

Thanks

[2020-08-09 22:37] ayeowch commented on #45
The IP was in an exclusion subnet by mistake. This is fixed now.

[2020-08-09 22:37] #45 closed

[2020-09-09 19:29] brianddk opened #46 "Trouble activating a new Onion node"
Is there a latency between a node coming online and it being reachable by your scripts.  I'm currently running an onion node and can verify that I'm receiving inbound connections.  I can also verify the node is reachable using bsd-netcat:

[code]

But when I try to activate `somebtconionnode.onion:8333` (made up name) through https://bitnodes.io/nodes/somebtconionnode.onion-8333/ it never transiti

[2020-09-10 05:52] brianddk commented on #46
I just now restarted my nodes with the following added to `bitcoin.conf`:

[code]

Hopefully this will put me in the crawler's peer list.  If you have the onion address / port for the crawler I could add it as well.  Would be nice to have that on your page footer along with the ipv4 / ipv6 addresses.

[2020-09-11 02:00] ayeowch commented on #46
The crawler has been running into issue connecting to onion nodes since Sep 6.

[2020-09-11 07:57] brianddk commented on #46
@ayeowch would it help if I connected my node (`addnode`)  to the onion address of the crawler.  All I found on the site footer were the ipv4 and ipv6 addresses above.

[2020-09-11 08:23] ayeowch commented on #46
@brianddk The crawler connects outbound only. IPv4 and IPv6 addresses published on the website is mostly informational to let node operators know that the connection originates from Bitnodes.

[2020-09-12 08:10] ayeowch commented on #46
This should be fixed now with https://github.com/ayeowch/bitnodes/commit/8d42c7ad4804b539a9af2619c8e8bed90dcb5a62

[2020-09-12 08:10] #46 closed

[2021-01-19 07:20] Covalent5 opened #47 "Tor V3"
Just updated to Bitcoin Core 0.21.0 and I run it behind Tor. Now with the Tor V3 support, my node is not visible on bitnodes. Am I correct into thinking it's not yet supported?￼

[2021-01-19 08:13] ayeowch commented on #47
Bitnodes does not yet support Tor v3. Will keep this ticket open until the support is live.

[2021-02-13 06:16] ayeowch commented on #47
Added Tor V3 supported via https://github.com/ayeowch/bitnodes/commit/a347c758ce8d7879f436bf0614237c31ce993489

[2021-02-13 06:16] #47 closed

[2021-03-01 07:10] zsharifian commented on #14
Thanks for your very good work
1. Is it possible to access the block propagation delay (not daily but for each block) during one or more months? In fact, the charts provide information for a day or month with just one value.

2. In addition, is it possible to access 90% or more for block propagation?

by regards

[2021-03-01 07:13] zsharifian opened #48 "90% block propagation delay"
Thanks for your very good work
1. Is it possible to access the block propagation delay (not daily but for each block) during one or more months? In fact, the charts provide information for a day or month with just one value.

2. In addition, is it possible to access 90% or more for block propagation?

by regards

[2021-03-01 09:27] ayeowch commented on #48
These are available from https://bitnodes.io/api/#data-propagation
Note that due to storage constraint, the old inv data available through this endpoint is periodically truncated.

[2021-03-01 09:27] #48 closed

[2021-03-02 06:19] zsharifian commented on #48
thank you for taking the time to review my request, Thank you very much.

[2021-03-12 10:22] micressor commented on #47
My Core 0.21.0 with Tor V3 seems not to work.
The test connection with .onion address (Join the network -> check node) success.
But it never get a up status from bitnodes.

[2021-03-12 12:46] Covalent5 commented on #47
Same here.

[2021-03-12 13:11] gallizoltan commented on #47
@micressor @Covalent5 What happens if you check your node on bitnodes and hit "ACTIVATE NODE STATUS"? The link is something like this:
https://bitnodes.io/nodes/{your_torv3_address}-8333/
It may take some time, but this works for me.

[2021-03-12 13:14] Covalent5 commented on #47
It says pending.

[2021-03-13 15:41] micressor commented on #47
It still saying down.
At the same time test connection with .onion address (Join the network -> check node) success.

[2021-03-15 07:35] micressor commented on #47
Seems to work since a day. Nothing changed on my side. Strange, but ok.

[2021-03-15 07:39] micressor opened #49 "API access does not work via tor (cloudflare block)"
I cannot access to the API via tor request:
`torify curl -H "Accept: application/json; indent=4"  https://bitnodes.io/api/v1/nodes/x.y.z.x-8333`
cloudflare blocks the request.

[2021-03-15 09:45] ayeowch commented on #49
I've updated the Cloudflare config to allow tor. Note that Cloudflare may not immediately recognize certain IP as tor exit node, so your access could still be blocked.

[2021-03-15 09:45] #49 closed

[2021-03-19 14:58] micressor commented on #47
I think tor V3 address monitoring of bitnodes does not really work stable at the moment.

Checknode API call does work perfect

[code]
But nodes API call says:
[code]
Currently it seems that bitnodes has only a handful of tor V3 onion addresses listed. Maybe the problem of stability has not yet been recognized. Can other V3 .onion operators confirm this?

[2021-03-22 14:09] micressor opened #50 "E-Mail notifications does not work"
I do not receive email notifications when I subscribe to a node.

[2021-03-22 19:48] ayeowch commented on #50
The email notification job was disabled due to quota limit. I have re-enabled the notification job manually since the quota has been restored.

[2021-03-22 19:48] #50 closed

[2021-03-24 12:25] micressor opened #51 "404 after click "Unsubscribe" in email notification"
This link did not work in the email:
https://bitnodes.io/nodes/{torv3}.onion-8333/detach-user/?email={email}

[2021-03-24 13:16] micressor commented on #49
Just tested, it still does not work to acccess api via torify command.

[2021-03-25 02:03] ayeowch commented on #51
This should be resolved now. Feel free to contact me directly with the email and node if this issue persists.

[2021-03-25 02:03] #51 closed

[2021-04-04 14:51] nyxnor commented on #49
@micressor Yes, still not working here either.
@ayeowch If setting Protection to Off does not work, could you consider enabling [Onion Routing](https://support.cloudflare.com/hc/en-us/articles/203306930-Understanding-Cloudflare-Tor-support-and-Onion-Routing) to test?

[2021-04-04 21:22] ayeowch commented on #49
@micressor @nyxnor The "Onion Routing" was on previously. I have just turned it off. Can you retest your torify command?

[2021-04-05 15:27] nyxnor commented on #49
@ayeowch Thank you for the response.
The command is right because without `torsocks` it works.
Tested now with `torsocks`:

[code]

[2021-05-05 11:19] micressor commented on #49
@ayeowch It is still not fixed. please re-open this issue.

Tried with the following command:
[code]
Output:
[code]

[2021-05-05 11:46] ayeowch commented on #49
@micressor I have temporarily turned off the challenge. Can you help retest?

[2021-05-05 11:52] nyxnor commented on #49
@ayeowch Tested now, did work after your changes.

[2021-05-05 12:12] micressor commented on #49
@ayeowch Now it works, perfect.

[2021-06-16 03:14] master-davidlee opened #53 "[HELP] can you explain how to configure my own custom config?"
start.sh shell needs custom config like crawl.MAGIC_NUMBER.conf. Can you tell me how to do that or explain every part?

[2021-06-16 09:20] ayeowch commented on #53
MAGIC_NUMBER should be replaced with f9beb4d9 for Bitcoin mainnet: https://developer.bitcoin.org/reference/p2p_networking.html#constants-and-defaults

[2021-06-16 09:20] #53 closed

[2021-06-18 15:36] jstefanop opened #54 "Break down Nodes by full user-agent?"
We just started shipping our decentralized home mining/node solution for consumers (futurebit.io) and will soon have thousands of nodes coming online from these devices. Would be awesome if there is an option to filter through custom flagged user agent strings on top of the version agent. I know blockchair filters through the full user agent string but their crawler does not seem to be as comprehe

[2021-06-21 09:11] master-davidlee opened #55 "I want to record everytime getaddr response, How can I do that?"
I try to use protocal.py seperatly. But can noly get one address, itself's ip address.
did I do something wrong  or wrong config?
thanks looking for replay

[2021-06-21 11:21] ayeowch commented on #55
Take a look at https://github.com/ayeowch/bitnodes/blob/master/crawl.py for the crawler implementation.

[2021-06-21 11:21] #55 closed

[2021-06-21 23:01] ayeowch commented on #54
The search page, e.g. https://bitnodes.io/nodes/?q=futurebit, now returns the percentage value (of network snapshot) in addition to the node count:

![image](https://user-images.githubusercontent.com/500869/122837839-29550880-d338-11eb-9839-f25b09bbfc0f.png)

![image](https://user-images.githubusercontent.com/500869/122837792-10e4ee00-d338-11eb-83ad-a05282dc15ea.png)

[2021-06-21 23:01] #54 closed

[2021-07-21 22:06] jstefanop commented on #54
@ayeowch thanks! Anyway to filter the live map and network map the same way so only specific user agent strings show up? BTW would love to donate to your project.

[2021-09-23 23:24] danger89 opened #57 "install-full-node script is outdated"
Hi,

Your `install-full-node.sh` script is installing an old version of the bitcoin core. The latest version is `22.0`

Regards,
Melroy

[2021-09-23 23:39] ayeowch commented on #57
Thanks for letting me know. It should be up-to-date now.

[2021-09-23 23:39] #57 closed

[2021-09-24 00:01] danger89 commented on #57
⚠️  No no.. Its' 22.0... not 0.22 ⚠️ .. yea, they removed the leading zero. Take a closer look.

[2021-09-24 01:56] ayeowch commented on #57
Opps :sweat: Reuploaded with the corrected version and thanks again!

[2021-09-24 18:51] danger89 commented on #57
Yeah, now its good ;)

[2021-09-25 07:10] rebroad opened #58 "Feature request: Enable connection to Zerotier Earth enabled nodes"
There is a network available which provides access to additional bitcoin nodes, with better latency than Tor or I2P, which I have been running my nodes on for several years now. I am curious to know if there are many others.

Might it be possible to enable this network interface on your crawler to find out?

E.g. I have 2 nodes running, one on 29.34.239.165:8333 and one on 28.183.108.93:8333 (the

[2021-09-25 09:25] ayeowch commented on #58
There is no plan to support networks other than the current mainnet on IPv4/v6 and Tor v2/v3.

[2021-09-25 09:25] #58 closed

[2021-10-01 20:15] jaysonmald35 opened #59 "iiccionsss.."

[2021-10-01 20:15] jaysonmald35 commented on #59
Thanks

[2021-10-01 20:53] #59 closed

[2021-11-03 03:02] i11m20n opened #61 "Unresolved reference 'xxx'"
I executed `pip install -r requirements.txt` received a warning that the module not found:

1. Unresolved reference 'ConfigParser'
2. Unresolved reference 'unicode'
3. Unresolved reference 'xrange'

My Python version: 3.7.5

[2021-11-03 06:20] i11m20n commented on #61
Problem solved using Python 2.7.16

[2021-11-03 06:20] #61 closed

[2021-11-11 03:11] j4ys0n opened #62 "is the code for the public api available?"
i want to work with the propagation data, but the rate limits on the public api are too low to get all of the data. any chance the api code is available?

[2021-11-11 09:40] ayeowch commented on #62
This repo is available for the Bitnodes crawler only. Feel free to email me with your usage details and I can look into customizing the throttle rate for your IP block.

[2021-11-11 09:40] #62 closed

[2021-11-26 18:53] cryptopotamo opened #63 ""Check Node" says 'Enter a valid IP address.'"
Hi,

I was trying to check my IP address but I got this erros "Enter a valid IP address"
IP: 151.24.66.96

Thanks

[2021-11-26 20:00] ayeowch commented on #63
This is resolved now. The IP was part of an excluded subnet.

[2021-11-26 20:00] #63 closed

[2021-11-26 22:55] brianddk opened #64 "Is Bitnodes mirrored via Onion or I2P?"
[Bitnodes is down](https://archive.ph/4uF0l/image), or at least was at the time of this posting.

Are there any mirrors of `bitnodes.io` exposed as an Onion or I2P site to use while the IPv4 and IPv6 versions are down?

[2021-11-26 23:05] ayeowch commented on #64
This site is up now. It was down for hard drive maintenance. Unfortunately, there is no mirror of the site atm.

[2021-11-26 23:05] #64 closed

[2021-11-27 19:07] brianddk commented on #64
Thx

[2022-01-24 22:52] digayoj40 opened #65 ""Check Node" says 'Enter a valid IP address.'"
Hi,

I was trying to check my IP address but I got this error "Enter a valid IP address"
IP: 104.244.73.6

Thanks

[2022-01-25 00:05] ayeowch commented on #65
The IP was in one of the excluded subnets. I have refreshed the exclusion list and it should work now.

[2022-01-25 00:05] #65 closed

[2022-02-26 06:34] adam-kennedy opened #68 "Bitnode checks on bitcoin node running behind tor"
Checking the IP resolved prior to setting up tor, but after I set up tor, Check Node could not reach my IP. Is this normal?

[2022-02-26 08:12] ayeowch commented on #68
Try checking if it's reachable via tor address. If it is still unreachable, it's likely your node has reached its max connections or it may be busy e.g. syncing blocks.

[2022-03-23 14:45] micressor commented on #68
@ayeowch Is there a public onion address of bitnodes.io, to whitelist (if maxconnections is set)?

[2022-04-28 01:05] bangz55 opened #70 "Benito lopez"

[2022-04-28 02:04] #70 closed

[2022-05-04 21:16] cryptopotamo opened #72 "Bitnode checks on bitcoin node over tor: unreachable"
Hi,

I was trying to check my .onion address but it says is unreachable.
What can I do?

Thanks

[2022-05-04 21:44] #72 closed

[2022-05-13 20:22] PegasusNZ opened #73 "Why does it report my node is down when it is online?"
My node is in hybrid mode on both clearnet and tor! After a reboot it reports correctly for about a day then it says it is down but if I click the link it successfully finds the node on the IP address 210.55.57.179. The node has 39/40 peers

[2022-05-13 21:42] ayeowch commented on #73
@PegasusNZ Was this for the IPv4 address or .onion?

[2022-05-13 22:22] PegasusNZ commented on #73
ip4 address

[2022-05-14 02:25] ayeowch commented on #73
@PegasusNZ How is the load looking on the device? I tried 'check node' on your node and got an unreachable response once out of several tries earlier. Might be worth checking if the same issue persist with tor disabled.

[2022-05-14 03:06] PegasusNZ commented on #73
Earlier I was doing some maintenance and installs! Load is very low now?

[2022-05-14 13:23] ayeowch commented on #73
I am getting TCP RST packet from your node immediately after my verack message is sent (at the end of handshake). This could be due to firewall along the path or custom Bitcoin node implementation? Try also disabling tor in your Bitcoin node configuration and we could retest IPv4 in isolation.

[2022-05-14 13:23] ayeowch commented on #73
@PegasusNZ I am getting TCP RST packet from your node immediately after my verack message is sent (at the end of handshake). This could be due to firewall along the path or custom Bitcoin node implementation? Try also disabling tor in your Bitcoin node configuration and we could retest IPv4 in isolation.

[2022-05-14 22:53] ayeowch commented on #73
@PegasusNZ Another potential issue is your system may be hitting its file descriptor limit, similar to the situation found in https://stackoverflow.com/a/5245704. Steps to increase file descriptor limit if you are on Linux system: https://www.cyberciti.biz/faq/linux-increase-the-maximum-number-of-open-files/

[2022-05-14 22:53] #73 closed

[2022-05-15 00:08] PegasusNZ commented on #73
Thank you I will try those tips

[2022-05-15 02:05] PegasusNZ commented on #73
@ayeowch It was working fine for 10 months, I have not changed any hardware the only change is the Casa 2 node has be reflashed as a RaspiBlitz. I checked the file limits for the user bitcoin it was 256000 system limit is a rather large number over 12 digits! I have disabled tor for bitcoind. I will see in 24 hours if there is any change

[2022-05-15 02:40] ayeowch commented on #73
@PegasusNZ Does the reflash to RaspiBlitz date coincide with the recent down spikes (starting around April 30, 2022) in the monthly latency chart in https://bitnodes.io/nodes/210.55.57.179-8333/? Also, were you running in hybrid IPv4 + tor only after the reflash?

[2022-05-15 03:44] PegasusNZ commented on #73
Yes this only started happening since I installed RaspiBlitz, On both systems I had TOR enabled, just RaspiBlitz gives more control

[2022-05-15 07:59] ayeowch commented on #73
@PegasusNZ Might be worth opening issue with RaspiBlitz to see if there are others experiencing similar issue when having both IPv4 and tor enabled. Since disabling tor, it looks like your node is reachable normally again.
https://bitnodes.io/nodes/210.55.57.179-8333/:
![Screenshot from 2022-05-15 17-57-19](https://user-images.githubusercontent.com/500869/168463078-e45560e7-42ac-4ce4-bf15-12452525

[2022-06-25 19:36] Fiach-Dubh opened #74 "Bitnodes reporting inflated IPV4 nodes"
https://bitnodes.io/nodes/all/#global-bitcoin-nodes

is there a bitnodes data issue? according to luke-jr and lopp these numbers are not accurate.

https://twitter.com/lopp/status/1540712512521285632

[2022-06-25 22:09] ayeowch commented on #74
The inflated numbers from the past couple of days is due to fake IPv4 addresses being returned by addr responses from some peers that Bitnodes crawler is connected to. I will look into a fix and revise the data in https://bitnodes.io/nodes/all/#global-bitcoin-nodes

[2022-06-25 22:34] Fiach-Dubh commented on #74
Thank You

[2022-06-25 22:34] #74 closed